@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background: #d2d2d2;
}

/* buttons and details */
@media (min-width: 320px) {
  .block__row {
    display: block;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 2.3px;
    background: #706e6e;
  }
  .block__link {
    text-decoration: none;
    color: #f8f8ff;
    margin: 1px;
  }
  .block__link:hover {
    background-color: #b12230;
    transition: 1s;
  }
  .block__break {
    display: flex;
    justify-content: flex-start;
    background-color: #b12230;
  }
  .block__challenge {
    padding-left: 20px;
    font-size: 20px;
    color: #f8f8ff;
  }
  .block__img {
    display: flex;
    align-self: flex-end;
    width: 100px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .block__row {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    letter-spacing: 2.3px;
  }
  .block__link {
    text-decoration: none;
    color: #f8f8ff;
    padding: 0 50px;
    margin: 0;
  }
  .block__link:hover {
    background-color: #b12230;
    transition: 1s;
  }
  .block__anchor {
    margin: 10px;
  }
  .block__break {
    display: flex;
    justify-content: flex-start;
    background-color: #b12230;
  }
  .block__challenge {
    justify-content: flex-start;
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 2.3px;
  }
  .block__img {
    display: flex;
    align-self: flex-end;
    width: 100px;
    height: auto;
    padding-left: 20px;
  }
}
@media (min-width: 1280px) {
  .block__row {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 2.3px;
  }
  .block__link {
    text-decoration: none;
    color: #f8f8ff;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .block__link:hover {
    background-color: #b12230;
    transition: 1s;
  }
  .block__link__anchor {
    margin: 0;
  }
  .block__break {
    display: flex;
    justify-content: center;
    background-color: #b12230;
    margin-bottom: 0;
  }
  .block__break__challenge {
    padding-left: 20px;
    font-size: 25px;
  }
  .block__img {
    display: flex;
    align-self: flex-end;
    width: 200px;
    height: auto;
    padding-left: 20px;
  }
}
/* forms, div, tables */
/* sections header and footer */
@media (min-width: 320px) {
  .block__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-color: #b12230;
  }
}

@media (min-width: 768px) {
  .block__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-color: #b12230;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .block__navegation {
    width: 100%;
    height: 100%;
    background-color: #f8f8ff;
  }
}

@media (min-width: 1280px) {
  .block__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #b12230;
    padding-top: 0;
  }
}
.block__header .block__navegation {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8ff;
}

@media (min-width: 320px) {
  .slide {
    display: flex;
    justify-content: center;
  }
  .slide__img {
    border-radius: 2%;
    max-width: 100%;
    height: 250px;
    border-radius: 0;
  }
  .slide__text {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 14px;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) {
  .introduction {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .introduction__text {
    border-left: 5px solid #b12230;
  }
}
@media (min-width: 768px) {
  .slide {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .slide__img {
    border-radius: 2%;
    width: 700px;
    height: 400px;
  }
}
@media (min-width: 320px) {
  .cards {
    display: flex;
    justify-content: center;
    max-width: 480px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .cards__position--one {
    max-width: 100%;
    border-radius: 5%;
  }
  .cards__position {
    flex: 0 1 300px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
    max-width: 760px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .cards__position--one {
    max-width: 100%;
    height: 200px;
    display: flex;
    border-radius: 5%;
  }
  .cards__position--move {
    display: flex;
    margin-top: 60px;
    border-radius: 5%;
    width: 100%;
    height: 200px;
  }
  .cards__position {
    flex: 0 1 330px;
    margin: 0 20px 20px 20px;
  }
}
@media (min-width: 1280px) {
  .cards {
    display: flex;
    justify-content: center;
    max-width: 760px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .cards__position--one {
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 5%;
  }
  .cards__position--move {
    display: flex;
    margin-top: 60px;
    border-radius: 5%;
    width: 100%;
    height: 200px;
  }
  .cards__position {
    flex: 0 1 330px;
    margin: 0 20px 20px 20px;
  }
}
@media (min-width: 320px) {
  .frases {
    position: relative;
    text-align: center;
    color: #f8f8ff;
    margin-top: 100px;
    width: 100%;
    height: 100%;
  }
  .frases__div {
    z-index: 1;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .frases__share {
    font-size: 20px;
  }
  .frases__under {
    color: #b12230;
  }
  .frases__gamer--woman {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
  }
  .frases__gamer--woman:after {
    content: "";
    position: absolute;
    width: 700%;
    height: 100%;
    background-color: rgba(62, 68, 131, 0.5);
  }
  .frases__woman--img {
    width: 100%;
    border-top: 5px solid #706e6e;
  }
}
@media (min-width: 768px) {
  .frases {
    position: relative;
    text-align: center;
    color: #f8f8ff;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }
  .frases__div {
    position: absolute;
    bottom: 0px;
    right: 16px;
  }
  .frases__share {
    font-size: 55px;
  }
  .frases__under {
    color: #b12230;
  }
  .frases__gamer--woman {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .frases__gamer--woman:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 69, 122, 0.521);
  }
  .frases__woman--img {
    width: 100%;
    border-top: 5px solid #706e6e;
  }
}
@media (min-width: 320px) {
  .footer {
    display: grid;
    background-color: #706e6e;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
  }
  .footer__img {
    width: 120px;
    height: auto;
  }
  .footer__rodape {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }
  .footer__text--val {
    margin: 0;
    font-size: 12px;
    color: #f8f8ff;
    text-align: center;
  }
  .footer__break {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #706e6e;
  }
  .footer__challenge {
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 15px;
    color: #f8f8ff;
  }
}
@media (min-width: 768px) {
  .footer {
    display: grid;
    background-color: #706e6e;
    padding-top: 60px;
    padding-bottom: 40px;
    justify-content: center;
  }
  .footer__img {
    width: 140px;
    height: auto;
    margin: 0;
  }
  .footer__rodape {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    display: flex;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }
  .footer__text--val {
    margin: 0;
    font-size: 12px;
    color: #f8f8ff;
    text-align: center;
  }
  .footer__break {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #000000;
  }
  .footer__challenge {
    padding-left: 20px;
    font-size: 15px;
    color: #f8f8ff;
  }
}

/*# sourceMappingURL=main.css.map */
