
.block__header{
    @media (min-width: $mobile-min){
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; 
        height: 100%;
        background-color:$color_red;
        
        
    }
}
.block__header{
    @media (min-width: $tablet-min){
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; 
        height: 100%;
        background-color: $color_red;
        padding-top: 20px;
    }
}
.block__navegation{
    @media (min-width: $tablet-min){
        width: 100%;
        height: 100%;
        background-color: $color_white;
        
    }
    
}

.block__header{
    @media (min-width: $desktop){
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100%;
        background-color: $color_red;
        padding-top: 0;
        
    }

.block__navegation{
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: $color_white;
        
}
    
}

